*{

    margin: 1px;
    border: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;

}

#section1{

    font-family: 'Rajdhani', sans-serif;

}

ul li:hover a{

    padding-left: 50px;

}

.caja1{

    width: 250px;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid;
    border-color: red;

}

.caja2{

    width: 1360px;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid;
    border-color: grey;

}

.caja3{

    width: 1000px;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid;
    border-color: black;

}

p{

    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: auto;
    
    }


